@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url("../fonts/Inter/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url("../fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url("../fonts/Inter/Inter-Semibold.woff") format("woff");
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  src: url("../fonts/Mulish/Mulish-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Mulish';
  font-weight: 600;
  src: url("../fonts/Mulish/Mulish-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Mulish';
  font-weight: 500;
  src: url("../fonts/Mulish/Mulish-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Mulish';
  font-weight: 400;
  src: url("../fonts/Mulish/Mulish-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  src: url("../fonts/Playfair Display/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 600;
  src: url("../fonts/Playfair Display/PlayfairDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 500;
  src: url("../fonts/Playfair Display/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  src: url("../fonts/Playfair Display/PlayfairDisplay-SemiBold.woff") format("woff");
}

.header {
  background-color: #eeeaea;
  position: fixed;
  left: 0;
  padding: 1.25vw 2.8125vw;
  width: 100%;
  font-family: 'Inter';
  height: 3.125vw;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list-item {
  margin-right: 2.125vw;
  z-index: 2;
}

.header__list-item .header__list-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 1.1875vw;
  color: #B8BECD;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.header__list-item .header__list-link:hover {
  color: #6b88cf;
}

.header__list-item:first-child {
  margin-right: 2.125vw;
  z-index: 10;
  cursor: pointer;
}

.header__list-item:first-child .header__list-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 1.1875vw;
  color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header__list-item:first-child .header__list-link:hover {
  color: #777676;
}

.header .header__row {
  top: 2.8125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__row .nav {
  margin-left: 25vw;
}

.header .header__row .header__reg-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__row .header__reg-log button:first-child {
  border: 0.1875vw solid #FB8F1D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 31.25vw;
  font-size: 1.25vw;
  line-height: 1.5625vw;
  color: #FB8F1D;
  width: 8.25vw;
  height: 2.75vw;
  background: #fff8f0;
  margin-right: 0.9375vw;
  cursor: pointer;
  z-index: 2;
}

.header .header__row .header__reg-log button:first-child:hover {
  background: white;
}

.header .header__row .header__reg-log button:last-child {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 31.25vw;
  font-size: 1.25vw;
  line-height: 1.5625vw;
  color: #ffffff;
  width: 8.25vw;
  height: 2.75vw;
  z-index: 2;
  background: #FB8F1D;
}

.header .header__row .header__reg-log button:last-child:hover {
  background: #fca84f;
}

@media screen and (max-width: 1100px) {
  .header {
    font-family: 'Inter';
  }
  .header .header__row {
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    padding: 5.33333vmin 3.6vmin;
    width: 100%;
    background-color: #eeeaea;
    height: 13.33333vmin;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__row .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
  }
  .header .header__row .header__list-item {
    margin-top: 18.66667vmin;
    z-index: 2;
  }
  .header .header__row .header__list-item .header__list-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 5.33333vmin;
    line-height: 5.06667vmin;
    color: #B8BECD;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  .header .header__row .header__list-item .header__list-link:hover {
    color: #6b88cf;
    border-top: 0.8vmin solid #cfcaca;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .header .header__row .header__list-item:first-child {
    margin-top: 18.66667vmin;
    z-index: 10;
    cursor: pointer;
  }
  .header .header__row .header__list-item:first-child .header__list-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 5.33333vmin;
    line-height: 5.06667vmin;
    color: black;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .header .header__row .header__list-item:first-child .header__list-link:hover {
    border-top: 0.8vmin solid #FB8F1D;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    color: #777676;
  }
  .header .header__row .burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-left: 26.66667vmin;
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
  }
  .header .header__row .burger img {
    width: 13.33333vmin;
    height: 13.33333vmin;
  }
  .header .header__row .nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: absolute;
    top: 23.73333vmin;
    padding-top: 13.33333vmin;
    height: 100vh;
    width: 100%;
    left: 200%;
    background-color: #fff8f0;
    z-index: -1;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .header .header__row .burger.active {
    -webkit-animation: burgerActive 0.6s ease-in-out forwards;
            animation: burgerActive 0.6s ease-in-out forwards;
  }
  @-webkit-keyframes burgerActive {
    0% {
      margin-bottom: 0vmin;
    }
    50% {
      margin-bottom: 8vmin;
    }
    100% {
      margin-bottom: 0vmin;
    }
  }
  @keyframes burgerActive {
    0% {
      margin-bottom: 0vmin;
    }
    50% {
      margin-bottom: 8vmin;
    }
    100% {
      margin-bottom: 0vmin;
    }
  }
  .header .header__row .nav.active {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    left: 16vmin;
  }
  .header .header__row .header__reg-log {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__row .header__reg-log button:first-child {
    border: 0.8vmin solid #FB8F1D;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2.13333vmin;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 133.33333vmin;
    font-size: 5.33333vmin;
    line-height: 6.66667vmin;
    color: #FB8F1D;
    width: 21.33333vmin;
    height: 9.86667vmin;
    background: #fff8f0;
    cursor: pointer;
    z-index: 2;
  }
  .header .header__row .header__reg-log button:first-child:hover {
    background: white;
  }
  .header .header__row .header__reg-log button:last-child {
    margin-right: 4vmin;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2.13333vmin;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 133.33333vmin;
    font-size: 4.8vmin;
    line-height: 6.66667vmin;
    color: #ffffff;
    width: 21.33333vmin;
    height: 9.86667vmin;
    z-index: 3;
    background: #FB8F1D;
  }
  .header .header__row .header__reg-log button:last-child:hover {
    background: #fca84f;
  }
}

.footer {
  background-color: #F9F9FB;
  width: 100%;
  height: 25.625vw;
  margin-top: 12.5vw;
  position: relative;
}

.footer__bottom {
  position: relative;
}

.footer__bottom-icons {
  position: absolute;
  left: 50%;
  margin-top: 2%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__bottom-icons a:last-child:hover svg path {
  fill: red;
}

.footer__bottom-icons a:first-child:hover svg path {
  fill: #2bbdf7;
}

.footer__bottom-icons a:nth-child(2):hover svg path {
  fill: #2f00ff;
}

.footer__bottom-icons a:nth-child(3):hover svg path {
  fill: #ff5294;
  background-color: #0222b1;
}

.footer__bottom-icons a:nth-child(4):hover svg path {
  fill: #fcee33;
}

.footer__bottom-icons a svg {
  padding-left: 2.1875vw;
}

.footer__bottom-icons a svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__row {
  padding: 4.875vw 0;
  display: block;
}

.footer__row:last-child {
  padding: 2.0625vw 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top .footer__description {
  display: block;
}

.footer__top .footer__description-text {
  position: relative;
  right: 5vw;
}

.footer__top .footer__features {
  margin-left: 1.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top .footer__features .footer__list {
  list-style-type: none;
  margin-left: 6.25vw;
}

.footer__top .footer__features .footer__list-item:first-child span:first-child {
  padding-top: 3.5vw;
  color: black;
  font-family: 'Mulish';
  font-weight: bold;
  font-size: 1.1875vw;
  line-height: 3.75vw;
  font-style: normal;
}

.footer__top .footer__features .footer__list-item span {
  color: #848484;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 1.125vw;
  line-height: 1.875vw;
}

@media screen and (max-width: 1100px) {
  .footer {
    background-color: #F9F9FB;
    width: 100%;
    height: 109.33333vmin;
    margin-top: 53.33333vmin;
    position: relative;
  }
  .footer__bottom {
    position: relative;
  }
  .footer__bottom-icons {
    position: absolute;
    left: 50%;
    margin-top: 2%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .footer__bottom-icons a:last-child:hover svg path {
    fill: red;
  }
  .footer__bottom-icons a:first-child:hover svg path {
    fill: #2bbdf7;
  }
  .footer__bottom-icons a:nth-child(2):hover svg path {
    fill: #2f00ff;
  }
  .footer__bottom-icons a:nth-child(3):hover svg path {
    fill: #ff5294;
    background-color: #0222b1;
  }
  .footer__bottom-icons a:nth-child(4):hover svg path {
    fill: #fcee33;
  }
  .footer__bottom-icons a svg {
    padding-left: 9.33333vmin;
  }
  .footer__bottom-icons a svg path {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .footer__row {
    padding: 20.8vmin 0;
    display: block;
  }
  .footer__row:last-child {
    padding: 8.8vmin 0;
  }
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top .footer__description {
    display: block;
  }
  .footer__top .footer__description-text {
    position: relative;
    right: 21.33333vmin;
  }
  .footer__top .footer__features {
    margin-left: 0vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__top .footer__features .footer__list {
    list-style-type: none;
    margin-left: 26.66667vmin;
  }
  .footer__top .footer__features .footer__list-item:first-child span:first-child {
    padding-top: 14.93333vmin;
    color: black;
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 5.06667vmin;
    line-height: 16vmin;
    font-style: normal;
  }
  .footer__top .footer__features .footer__list-item span {
    color: #848484;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 4.8vmin;
    line-height: 8vmin;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .circle {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

.Explore-cross {
  position: absolute;
  margin-right: 18.75vw;
  width: 2.5625vw;
  height: 2.5625vw;
  margin-left: 39%;
  margin-top: 0;
  top: 9.0625vw;
}

.Explore {
  display: block;
  position: relative;
  padding-top: 6.25vw;
}

.Explore .circle {
  position: absolute;
  left: -3.75vw;
  top: 60%;
}

.Explore:last-child {
  margin-left: 10.625vw;
}

.Explore h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 5vw;
  /*bold,64px,80px*/
  color: black;
  mix-blend-mode: normal;
  z-index: 100;
  margin-bottom: 4.375vw;
}

.Explore h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 56.25vw;
  font-size: 1.375vw;
  line-height: 0.625vw;
  color: black;
  position: relative;
}

.Explore h2::before {
  content: '';
  height: 0.1875vw;
  width: 6%;
  position: absolute;
  bottom: -1.875vw;
  left: 0;
  background: black;
  border-radius: 20%;
  -webkit-animation: line-before 3s ease-in-out forwards;
          animation: line-before 3s ease-in-out forwards;
}

@-webkit-keyframes line-before {
  0% {
    width: 2%;
  }
  50% {
    width: 25%;
  }
  100% {
    width: 7%;
  }
}

@keyframes line-before {
  0% {
    width: 2%;
  }
  50% {
    width: 25%;
  }
  100% {
    width: 7%;
  }
}

.Explore .Explore__form {
  max-width: 31.25vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3.125vw;
}

.Explore .Explore__form select {
  padding: 0.625vw;
  border: 0.05vw solid #AFB0B9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.375vw;
  width: 13.75vw;
  height: 3.25vw;
  margin-top: 1.25vw;
  margin-left: 1.25vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375vw;
  line-height: 2vw;
  color: #4A4C53;
  mix-blend-mode: normal;
  outline: none;
  overflow: auto;
  cursor: pointer;
}

.Explore .Explore__form select:first-child, .Explore .Explore__form select:nth-child(3) {
  margin-left: 0vw;
}

.Explore .Explore__form button {
  background: #FB8F1D;
  border: none;
  border-radius: 0.5vw;
  font-family: 'Mulish';
  font-style: normal;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 1.125vw;
  line-height: 1.5625vw;
  /*bold,17px,60px.*/
  color: #ffffff;
  mix-blend-mode: normal;
  width: 11.25vw;
  height: 3.25vw;
  padding: 0;
  top: 3.1875vw;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.Explore .Explore__form button:hover {
  background: #fca84f;
}

.travel-img {
  position: absolute;
  bottom: -20%;
  right: 0;
  height: 37.5vw;
  width: 34.375vw;
}

@media screen and (max-width: 1100px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 8vmin;
  }
  .hero .circle {
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 70%;
    bottom: 0;
  }
  .Explore-cross {
    position: absolute;
    margin-right: 80vmin;
    width: 10.93333vmin;
    height: 10.93333vmin;
    margin-left: 39%;
    margin-top: 0;
    top: 38.66667vmin;
  }
  .Explore {
    display: block;
    position: relative;
    padding-top: 26.66667vmin;
  }
  .Explore .circle {
    position: absolute;
    left: -16vmin;
    top: 60%;
  }
  .Explore:last-child {
    margin-left: 45.33333vmin;
  }
  .Explore h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 17.06667vmin;
    line-height: 21.33333vmin;
    color: black;
    mix-blend-mode: normal;
    z-index: 100;
    margin-bottom: 18.66667vmin;
  }
  .Explore h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 240vmin;
    font-size: 5.86667vmin;
    line-height: 2.66667vmin;
    color: black;
    position: relative;
  }
  .Explore h2::before {
    content: '';
    height: 0.8vmin;
    width: 6%;
    position: absolute;
    bottom: -8vmin;
    left: 0;
    background: black;
    border-radius: 20%;
    -webkit-animation: line-before 3s ease-in-out forwards;
            animation: line-before 3s ease-in-out forwards;
  }
  @-webkit-keyframes line-before {
    0% {
      width: 2%;
    }
    50% {
      width: 25%;
    }
    100% {
      width: 7%;
    }
  }
  @keyframes line-before {
    0% {
      width: 2%;
    }
    50% {
      width: 25%;
    }
    100% {
      width: 7%;
    }
  }
  .Explore .Explore__form {
    max-width: 133.33333vmin;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 13.33333vmin;
  }
  .Explore .Explore__form select {
    padding: 2.66667vmin;
    border: 0.21333vmin solid #AFB0B9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 1.6vmin;
    width: 58.66667vmin;
    height: 13.86667vmin;
    margin-top: 5.33333vmin;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 4vmin;
    line-height: 8.53333vmin;
    color: #4A4C53;
    mix-blend-mode: normal;
    outline: none;
    overflow: auto;
    cursor: pointer;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .Explore .Explore__form select:hover {
    margin-left: 8vmin;
  }
  .Explore .Explore__form button {
    background: #FB8F1D;
    border: none;
    border-radius: 2.13333vmin;
    font-family: 'Mulish';
    font-style: normal;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 4.8vmin;
    line-height: 6.66667vmin;
    color: #ffffff;
    mix-blend-mode: normal;
    width: 48vmin;
    height: 13.86667vmin;
    padding: 0;
    top: 13.6vmin;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
  }
  .Explore .Explore__form button:hover {
    background: #fca84f;
  }
  .travel-img {
    z-index: -2;
    position: absolute;
    bottom: 10%;
    left: 0;
    height: 93.33333vmin;
    width: 93.33333vmin;
    opacity: 0.3;
  }
}

.New-Explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35.9375vw;
  width: 100%;
  position: relative;
  margin-top: 13.75vw;
}

.New-Explore img {
  height: 31.25vw;
}

.New-Explore .circle {
  position: relative;
  top: 17.5vw;
  left: 19.375vw;
}

.New-Explore .Interest {
  left: 40.625vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
  position: absolute;
}

@media screen and (max-width: 1100px) {
  .New-Explore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 153.33333vmin;
    width: 100%;
    position: relative;
    margin-top: 58.66667vmin;
  }
  .New-Explore img {
    height: 80vmin;
    position: absolute;
    opacity: 0.2;
  }
  .New-Explore .circle {
    position: relative;
    top: 74.66667vmin;
    left: 82.66667vmin;
  }
  .New-Explore .Interest {
    margin-right: 26.66667vmin;
    left: 2.66667vmin;
    padding: 1.33333vmin 8vmin 1.33333vmin 0;
  }
}

.destinations {
  display: block;
  margin-bottom: 6.25vw;
}

.destinations .View-all {
  position: relative;
}

.destinations .View-all .circle {
  bottom: 5vw;
  right: 15%;
  position: absolute;
}

.destinations .row {
  margin: 0 !important;
}

.destinations .row .dest-cross {
  margin: 0;
  width: 3.125vw;
  height: 3.125vw;
}

.destinations .row .col-4 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 20.75vw;
  width: 16.3125vw;
}

.destinations .row .col-4:hover {
  -webkit-transform: translateY(-1.875vw);
          transform: translateY(-1.875vw);
}

.destinations .row .col-4 .destinations-item {
  height: 20.75vw;
  width: 17.5625vw;
}

.destinations .row .col-4 .destinations-item img {
  border-radius: 0.375vw 0.375vw 0.375vw 0.375vw;
  margin: 0 1.25vw;
  height: 20.75vw;
  width: 16.3125vw;
}

.destinations .row .col-4 .destinations-item p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 37.5vw;
  font-size: 1.0625vw;
  line-height: 1.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #042521;
  mix-blend-mode: normal;
  background: #ffffff;
  max-width: 8.75vw;
  padding: 0.75vw;
  border-radius: 0.375vw 0.375vw 0.375vw 0.375vw;
  bottom: 5.625vw;
  left: 1.0625vw;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.destinations .row .col-4 .destinations-item p span {
  color: #848484;
}

.destinations .slick-list {
  height: 28.125vw;
  padding: 3.125vw 0;
}

@media screen and (max-width: 1100px) {
  .destinations {
    display: block;
    margin-bottom: 5.33333vmin;
  }
  .destinations .View-all {
    position: relative;
  }
  .destinations .View-all .circle {
    bottom: 21.33333vmin;
    right: 15%;
    position: absolute;
  }
  .destinations .row {
    margin: 0 !important;
  }
  .destinations .row .dest-cross {
    margin: 0;
    width: 13.33333vmin;
    height: 13.33333vmin;
  }
  .destinations .row .col-4 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: 80vmin;
    width: 69.6vmin;
  }
  .destinations .row .col-4:hover {
    -webkit-transform: translateY(-8vmin);
            transform: translateY(-8vmin);
  }
  .destinations .row .col-4 .destinations-item {
    height: 88.53333vmin;
    width: 74.93333vmin;
  }
  .destinations .row .col-4 .destinations-item img {
    border-radius: 1.6vmin;
    margin: 0 5.33333vmin;
    height: 88.53333vmin;
    width: 69.6vmin;
  }
  .destinations .row .col-4 .destinations-item p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 160vmin;
    font-size: 4.53333vmin;
    line-height: 6.66667vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #042521;
    mix-blend-mode: normal;
    background: #ffffff;
    max-width: 37.33333vmin;
    padding: 3.2vmin;
    border-radius: 1.6vmin;
    bottom: 24vmin;
    left: 4.53333vmin;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .destinations .row .col-4 .destinations-item p span {
    color: #848484;
  }
  .destinations .slick-list {
    height: 93.75vw;
    padding: 31.25vw 0;
  }
}

.Thousand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Thousand .Interest {
  display: block;
  margin: 12.5vw 0;
}

.Thousand .Thousand__image {
  height: 33.875vw;
  width: 37.4375vw;
}

@media screen and (max-width: 1100px) {
  .Thousand {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .Thousand .cross {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .Thousand .Interest {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 -2.66667vmin;
  }
  .Thousand .Thousand__image {
    position: absolute;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    left: 0;
    opacity: 0.2;
    height: 80vmin;
    width: 80vmin;
    z-index: -1;
  }
}

.Comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6.25vw;
}

.Comment .circle {
  margin-top: 15.5625vw;
  position: absolute;
  left: 3.125vw;
}

.Comment .Comment__text {
  display: block;
}

.Comment .Comment__text h2 {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 2.25vw;
  line-height: 3.125vw;
  color: black;
  mix-blend-mode: normal;
}

.Comment .Comment__text p {
  font-family: 'Mulish';
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2.25vw;
  color: black;
  mix-blend-mode: normal;
  max-width: 28.125vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Comment .Comment__text span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 56.25vw;
  font-size: 1.375vw;
  line-height: 3vw;
  color: black;
  mix-blend-mode: normal;
  position: relative;
}

.Comment .Comment__text span:before {
  content: 'Founder Circle';
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 3vw;
  color: #a7a7a7;
  mix-blend-mode: normal;
  position: absolute;
  left: 0;
  bottom: -2.5vw;
}

.Comment .Comment__text .Comment__text-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.75vw;
}

.Comment .Comment__text .Comment__text-star img {
  margin-right: 1.875vw;
  cursor: pointer;
}

.Comment__slider {
  left: 12.5vw;
  position: relative;
  width: 26.5625vw;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.625vw;
}

.Comment__slider-item {
  position: relative;
  padding: 3.125vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30.6875vw;
  width: 24vw;
}

.Comment__slider-item img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  z-index: -1;
  border-radius: 0.625vw;
  height: 30.6875vw;
  width: 24vw;
}

.Comment__slider-item span {
  border: 0.25vw solid #57D2A3;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;
  position: absolute;
  top: -0.625vw;
  right: -0.625vw;
  z-index: 200;
}

.slick-list {
  border-radius: 0.625vw;
  height: 140%;
  width: 100%;
}

.prev, .next {
  position: absolute;
  padding: 0.8125vw;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.4375vw 0.125vw 0.125vw 0.125vw;
  min-height: 6.83594vh;
  bottom: 1.25vw;
}

.prev svg, .next svg {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.prev svg:hover, .next svg:hover {
  background-color: #7aa1f3 !important;
  border-radius: 20px;
  cursor: pointer;
}

.prev svg:active, .next svg:active {
  background-color: #075091 !important;
}

.prev svg path, .prev svg circle, .next svg path, .next svg circle {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.prev svg:first-child:active path, .next svg:first-child:active path {
  -webkit-transform: translateX(-0.5vw);
          transform: translateX(-0.5vw);
}

.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
  z-index: 2;
}

.prev {
  right: 3.75vw;
  z-index: 1;
}

@media screen and (max-width: 1100px) {
  .Comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 26.66667vmin;
  }
  .Comment .circle {
    margin-top: 120.53333vmin;
    position: absolute;
    left: 50%;
  }
  .Comment .Comment__text {
    padding: 1.33333vmin 2.66667vmin;
    display: block;
  }
  .Comment .Comment__text h2 {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 9.6vmin;
    line-height: 13.33333vmin;
    color: black;
    mix-blend-mode: normal;
  }
  .Comment .Comment__text p {
    font-family: 'Mulish';
    font-weight: normal;
    font-size: 6.4vmin;
    line-height: 9.6vmin;
    color: black;
    mix-blend-mode: normal;
    max-width: 120vmin;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .Comment .Comment__text span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 240vmin;
    font-size: 5.86667vmin;
    line-height: 12.8vmin;
    color: black;
    mix-blend-mode: normal;
    position: relative;
  }
  .Comment .Comment__text span:before {
    content: 'Founder Circle';
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 5.33333vmin;
    line-height: 12.8vmin;
    color: #a7a7a7;
    mix-blend-mode: normal;
    position: absolute;
    left: 0;
    bottom: -10.66667vmin;
  }
  .Comment .Comment__text .Comment__text-star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20.26667vmin;
  }
  .Comment .Comment__text .Comment__text-star svg {
    margin-right: 8vmin;
    cursor: pointer;
  }
  .Comment .Comment__text .Comment__text-star svg path {
    fill: gray;
  }
  .Comment__slider {
    left: 4vmin;
    position: relative;
    width: 109.33333vmin;
    top: 13.33333vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 2.66667vmin;
  }
  .Comment__slider-item {
    position: relative;
    padding: 13.33333vmin;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 130.93333vmin;
    width: 93.33333vmin;
  }
  .Comment__slider-item img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    z-index: -1;
    border-radius: 2.66667vmin;
    height: 130.93333vmin;
    width: 102.4vmin;
  }
  .Comment__slider-item span {
    border: 1.06667vmin solid #57D2A3;
    width: 5.33333vmin;
    height: 5.33333vmin;
    border-radius: 50%;
    position: absolute;
    top: -2.66667vmin;
    right: -2.66667vmin;
    z-index: 200;
  }
  .slick-list {
    border-radius: 2.66667vmin;
    height: 140%;
    width: 85%;
  }
  .prev, .next {
    position: absolute;
    padding: 3.46667vmin;
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 1.86667vmin 0.53333vmin 0.53333vmin 0.53333vmin;
    min-height: 6.83594vh;
    bottom: 5.33333vmin;
  }
  .prev svg, .next svg {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
  }
  .prev svg:hover, .next svg:hover {
    background-color: #7aa1f3 !important;
    border-radius: 20px;
    cursor: pointer;
  }
  .prev svg:active, .next svg:active {
    background-color: #075091 !important;
  }
  .prev svg path, .prev svg circle, .next svg path, .next svg circle {
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .prev svg:first-child:active path, .next svg:first-child:active path {
    -webkit-transform: translateX(-2.13333vmin);
            transform: translateX(-2.13333vmin);
  }
  .next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    right: 16vmin;
    z-index: 2;
  }
  .prev {
    right: 33.06667vmin;
    z-index: 1;
  }
}

.Stories__row {
  display: block;
  position: relative;
}

.Stories__row .circle {
  position: absolute;
  left: 60%;
  bottom: -20%;
}

.Stories {
  margin-top: 12.5vw;
  padding-top: 0vw;
}

.Stories .View-all img {
  position: absolute;
  margin: -2.125vw 18.75vw;
  margin-bottom: 1.25vw;
}

.Stories .row {
  left: 0;
}

.Stories .row .col-4 {
  margin-right: 4.6875vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Stories .row .col-4:hover {
  -webkit-transform: translateY(-6.25vw);
          transform: translateY(-6.25vw);
}

.Stories .row .col-4 .Stories-item {
  width: 16.625vw !important;
}

.Stories .row .col-4 .Stories-item .Stories__description {
  display: block;
}

.Stories .row .col-4 .Stories-item .Stories__description h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5625vw;
  line-height: 1.875vw;
  color: black;
  mix-blend-mode: normal;
  cursor: text;
}

.Stories .row .col-4 .Stories-item .Stories__description .Stories__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 1.75vw;
  color: #FB8F1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.Stories .row .col-4 .Stories-item img {
  border-radius: 0.5vw 0.5vw 0 0;
  width: 17.5vw;
  height: 20vw;
}

.Stories .row .col-4:hover .slick-list {
  height: 36.25vw;
  padding: 9.375vw 0;
}

.Stories .slick-list {
  height: 22.8125vw;
  padding: 6.25vw 0;
}

@media screen and (max-width: 1100px) {
  .Stories__row {
    display: block;
    position: relative;
  }
  .Stories__row .circle {
    position: absolute;
    left: 60%;
    bottom: -20%;
  }
  .Stories {
    margin-top: 53.33333vmin;
    padding-top: 0vmin;
  }
  .Stories .View-all img {
    position: absolute;
    margin: -9.06667vmin 80vmin;
    margin-bottom: 5.33333vmin;
  }
  .Stories .row {
    left: 0;
  }
  .Stories .row .col-4 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .Stories .row .col-4:hover {
    -webkit-transform: translateY(-26.66667vmin);
            transform: translateY(-26.66667vmin);
  }
  .Stories .row .col-4 .Stories-item {
    width: 70.93333vmin !important;
  }
  .Stories .row .col-4 .Stories-item .Stories__description {
    display: block;
  }
  .Stories .row .col-4 .Stories-item .Stories__description h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 6.66667vmin;
    line-height: 8vmin;
    color: black;
    mix-blend-mode: normal;
    cursor: text;
  }
  .Stories .row .col-4 .Stories-item .Stories__description .Stories__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 5.33333vmin;
    line-height: 7.46667vmin;
    color: #FB8F1D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .Stories .row .col-4 .Stories-item img {
    border-radius: 2.13333vmin 2.13333vmin 0 0;
    width: 74.66667vmin;
    height: 85.33333vmin;
  }
  .Stories .row .col-4:hover .slick-list {
    height: 154.66667vmin;
    padding: 40vmin 0;
  }
  .Stories .slick-list {
    height: 97.33333vmin;
    padding: 26.66667vmin 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 2;
  display: none;
}

.Login-modal {
  background: #ffffff;
  padding: 1.5625vw 1.25vw;
  position: fixed;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.625vw;
  width: 25vw;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 10;
}

.Login-modal__top {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.25vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.Login-modal__top .Login__close {
  background: #ffffff;
  border-radius: 25%;
  height: 3.125vw;
  width: 3.125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1875vw solid #FB8F1D;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.Login-modal__top .Login__close svg {
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.Login-modal__top .Login__close svg path {
  fill: #cfccccce;
}

.Login-modal__top .Login__close:hover {
  background: #FB8F1D;
  border: 0.1875vw solid #ebebeb;
}

.Login-modal__top .Login__close:hover svg path {
  fill: rgba(116, 116, 116, 0.63);
}

.Login-modal .form__login {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Login-modal .form__login input {
  margin-top: 1.25vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 1.5625vw;
  padding: 0.625vw;
  outline: none;
  border: 0.0625vw solid #848484;
  border-radius: 0.625vw;
}

.Login-modal .form__login .orange-btn {
  margin-top: 1.25vw;
  margin-left: 6.875vw;
}

.Login-modal .Login__description {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 3.125vw;
}

.Register-modal {
  background: #ffffff;
  padding: 1.5625vw 1.25vw;
  position: fixed;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.625vw;
  width: 25vw;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 10;
}

.Register-modal__top {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.25vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.Register-modal__top .Register__close {
  background: #ffffff;
  border-radius: 25%;
  height: 3.125vw;
  width: 3.125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1875vw solid #FB8F1D;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.Register-modal__top .Register__close svg {
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
}

.Register-modal__top .Register__close svg path {
  fill: #cfccccce;
}

.Register-modal__top .Register__close:hover {
  background: #FB8F1D;
  border: 0.1875vw solid #ebebeb;
}

.Register-modal__top .Register__close:hover svg path {
  fill: rgba(116, 116, 116, 0.63);
}

.Register-modal .form__Register {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Register-modal .form__Register input {
  margin-top: 1.25vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 1.5625vw;
  padding: 0.625vw;
  outline: none;
  border: 0.0625vw solid #848484;
  border-radius: 0.625vw;
}

.Register-modal .form__Register .orange-btn {
  margin-top: 1.25vw;
  margin-left: 6.875vw;
}

.Register-modal .Register__description {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 3.125vw;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  margin: 0;
  background: #fcfbfb;
}

.container {
  max-width: 75.625vw;
  margin: 0 auto;
}

.col-4 {
  width: 25%;
}

.View-all {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.View-all .View__title {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 2.25vw;
  line-height: 3.125vw;
  color: black;
  mix-blend-mode: normal;
}

.View-all .View__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 37.5vw;
  font-size: 1.0625vw;
  line-height: 3.75vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FB8F1D;
  mix-blend-mode: normal;
  cursor: pointer;
  margin-left: 60%;
}

.View-all .View__link svg {
  margin-left: 0.8125vw;
}

.View__link {
  position: absolute !important;
  bottom: 105% !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 37.5vw;
  font-size: 1.0625vw;
  line-height: 3.75vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FB8F1D;
  mix-blend-mode: normal;
  cursor: pointer;
  margin-left: 90% !important;
}

.View__link svg {
  margin-left: 0.8125vw;
}

.circle {
  border: 0.5vw solid #57D2A3;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375vw;
  line-height: 1.625vw;
  color: #7D7987;
  mix-blend-mode: normal;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.orange-btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 37.5vw;
  font-size: 1.25vw;
  line-height: 1.5625vw;
  background: #FB8F1D;
  border-radius: 0.5vw;
  border: 0;
  color: #ffffff;
  width: 9.375vw;
  height: 2.5vw;
}

.orange-btn:hover {
  background: #fca84f;
}

.Interest {
  max-width: 25vw;
}

.Interest h2 {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 2.25vw;
  line-height: 3.125vw;
  color: black;
  mix-blend-mode: normal;
}

.Interest p {
  font-family: 'Mulish';
  font-weight: 18.75vw;
  font-size: 1.0625vw;
  line-height: 1.875vw;
  color: #7D7987;
  max-width: 23.125vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 2.25vw;
  line-height: 3.125vw;
  color: #FB8F1D;
  mix-blend-mode: normal;
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 322.66667vmin;
    margin: 0 auto;
  }
  .col-4 {
    width: 100%;
  }
  .View-all {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .View-all .View__title {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 9.6vmin;
    line-height: 13.33333vmin;
    color: black;
    mix-blend-mode: normal;
  }
  .View-all .View__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 160vmin;
    font-size: 4.53333vmin;
    line-height: 16vmin;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FB8F1D;
    mix-blend-mode: normal;
    cursor: pointer;
    margin-left: 60%;
  }
  .View-all .View__link svg {
    margin-left: 3.46667vmin;
  }
  .View__link {
    position: absolute !important;
    bottom: 90% !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 160vmin;
    font-size: 4.53333vmin;
    line-height: 16vmin;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #FB8F1D;
    mix-blend-mode: normal;
    cursor: pointer;
    margin-left: 5.33333vmin !important;
  }
  .View__link:active svg {
    margin-left: 5.33333vmin;
  }
  .View__link svg {
    margin-left: 3.46667vmin;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .circle {
    border: 2.13333vmin solid #57D2A3;
    width: 5.33333vmin;
    height: 5.33333vmin;
    border-radius: 50%;
  }
  .text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 4vmin;
    line-height: 6.93333vmin;
    color: #7D7987;
    mix-blend-mode: normal;
    position: relative;
  }
  .orange-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 160vmin;
    font-size: 5.33333vmin;
    line-height: 6.66667vmin;
    background: #FB8F1D;
    border-radius: 2.13333vmin;
    border: 0;
    color: #ffffff;
    width: 40vmin;
    height: 10.66667vmin;
  }
  .orange-btn:hover {
    background: #fca84f;
  }
  .Interest {
    min-width: 100%;
  }
  .Interest h2 {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 9.6vmin;
    line-height: 13.33333vmin;
    color: black;
    mix-blend-mode: normal;
  }
  .Interest p {
    font-family: 'Mulish';
    font-weight: 160vmin;
    font-size: 4.53333vmin;
    line-height: 8vmin;
    color: #7D7987;
    max-width: 98.66667vmin;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 9.6vmin;
    line-height: 13.33333vmin;
    color: #FB8F1D;
    mix-blend-mode: normal;
  }
}
/*# sourceMappingURL=index.css.map */