@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url("../../fonts/Inter/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url("../../fonts/Inter/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url("../../fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url("../../fonts/Inter/Inter-Semibold.woff") format("woff");
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  src: url("../fonts/Mulish/Mulish-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Mulish';
  font-weight: 600;
  src: url("../fonts/Mulish/Mulish-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Mulish';
  font-weight: 500;
  src: url("../fonts/Mulish/Mulish-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Mulish';
  font-weight: 400;
  src: url("../fonts/Mulish/Mulish-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  src: url("../fonts/Playfair Display/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 600;
  src: url("../fonts/Playfair Display/PlayfairDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 500;
  src: url("../fonts/Playfair Display/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  src: url("../fonts/Playfair Display/PlayfairDisplay-SemiBold.woff") format("woff");
}

.header {
  position: absolute;
  left: 0;
  margin-top: 2.8125vw;
  width: 100%;
}

.header .header__row {
  top: 2.8125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__row .nav {
  margin-left: 25vw;
}

.header .header__row .nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__row .nav__list-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 1.1875vw;
  color: #B8BECD;
  margin-right: 2.125vw;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.header .header__row .nav__list-item:hover {
  color: #6b88cf;
}

.header .header__row .nav__list-item:first-child {
  margin-right: 2.125vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 1.1875vw;
  color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 2;
}

.header .header__row .nav__list-item:first-child:hover {
  color: #777676;
}

.header .header__row .header__reg-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__row .header__reg-log button:first-child {
  border: 0.1875vw solid #FB8F1D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 31.25vw;
  font-size: 1.25vw;
  line-height: 1.5625vw;
  color: #FB8F1D;
  width: 8.25vw;
  height: 2.75vw;
  background: #fff8f0;
  margin-right: 0.9375vw;
  cursor: pointer;
  z-index: 2;
}

.header .header__row .header__reg-log button:first-child:hover {
  background: white;
}

.header .header__row .header__reg-log button:last-child {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.5vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 31.25vw;
  font-size: 1.25vw;
  line-height: 1.5625vw;
  color: #ffffff;
  width: 8.25vw;
  height: 2.75vw;
  z-index: 2;
  background: #FB8F1D;
}

.header .header__row .header__reg-log button:last-child:hover {
  background: #fca84f;
}

.footer {
  background-color: #F9F9FB;
  width: 100%;
  height: 25.625vw;
  margin-top: 12.5vw;
  position: relative;
}

.footer__bottom {
  position: relative;
}

.footer__bottom-icons {
  position: absolute;
  left: 50%;
  margin-top: 2%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__bottom-icons svg:last-child:hover path {
  fill: red;
}

.footer__bottom-icons svg:first-child:hover path {
  fill: #2bbdf7;
}

.footer__bottom-icons svg:nth-child(2):hover path {
  fill: #2f00ff;
}

.footer__bottom-icons svg:nth-child(3):hover path {
  fill: #ff5294;
  background-color: #0222b1;
}

.footer__bottom-icons svg:nth-child(4):hover path {
  fill: #fcee33;
}

.footer__bottom svg {
  padding-left: 2.1875vw;
}

.footer__bottom svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__row {
  padding: 4.875vw 0;
  display: block;
}

.footer__row:last-child {
  padding: 2.0625vw 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top .footer__description {
  display: block;
}

.footer__top .footer__description-text {
  position: relative;
  right: 5vw;
}

.footer__top .footer__features {
  margin-left: 1.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top .footer__features .footer__list {
  list-style-type: none;
  margin-left: 6.25vw;
}

.footer__top .footer__features .footer__list-item:first-child span:first-child {
  padding-top: 3.5vw;
  color: black;
  font-family: 'Mulish';
  font-weight: bold;
  font-size: 1.1875vw;
  line-height: 3.75vw;
  font-style: normal;
}

.footer__top .footer__features .footer__list-item span {
  color: #848484;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 1.125vw;
  line-height: 1.875vw;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero .circle {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

.Explore-cross {
  position: absolute;
  margin-right: 18.75vw;
  width: 2.5625vw;
  height: 2.5625vw;
  margin-left: 39%;
  margin-top: 0;
  top: 9.0625vw;
}

.Explore {
  display: block;
  position: relative;
  padding-top: 6.25vw;
}

.Explore .circle {
  position: absolute;
  left: -3.75vw;
  top: 60%;
}

.Explore:last-child {
  margin-left: 10.625vw;
}

.Explore h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  line-height: 5vw;
  /*bold,64px,80px*/
  color: black;
  mix-blend-mode: normal;
  z-index: 100;
  margin-bottom: 4.375vw;
}

.Explore h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 56.25vw;
  font-size: 1.375vw;
  line-height: 0.625vw;
  color: black;
  position: relative;
}

.Explore h2::before {
  content: '';
  height: 0.1875vw;
  width: 6%;
  position: absolute;
  bottom: -1.875vw;
  left: 0;
  background: black;
  border-radius: 20%;
  -webkit-animation: line-before 3s ease-in-out forwards;
          animation: line-before 3s ease-in-out forwards;
}

@-webkit-keyframes line-before {
  0% {
    width: 2%;
  }
  50% {
    width: 25%;
  }
  100% {
    width: 7%;
  }
}

@keyframes line-before {
  0% {
    width: 2%;
  }
  50% {
    width: 25%;
  }
  100% {
    width: 7%;
  }
}

.Explore .Explore__form {
  max-width: 31.25vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3.125vw;
}

.Explore .Explore__form select {
  padding: 0.625vw;
  border: 0.05vw solid #AFB0B9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.375vw;
  width: 13.75vw;
  height: 3.25vw;
  margin-top: 1.25vw;
  margin-left: 1.25vw;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375vw;
  line-height: 2vw;
  color: #4A4C53;
  mix-blend-mode: normal;
  outline: none;
  overflow: auto;
  cursor: pointer;
}

.Explore .Explore__form select:first-child, .Explore .Explore__form select:nth-child(3) {
  margin-left: 0vw;
}

.Explore .Explore__form button {
  background: #FB8F1D;
  border: none;
  border-radius: 0.5vw;
  font-family: 'Mulish';
  font-style: normal;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 1.125vw;
  line-height: 1.5625vw;
  /*bold,17px,60px.*/
  color: #ffffff;
  mix-blend-mode: normal;
  width: 11.25vw;
  height: 3.25vw;
  padding: 0;
  top: 3.1875vw;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.Explore .Explore__form button:hover {
  background: #fca84f;
}

.travel-img {
  position: absolute;
  bottom: -20%;
  right: 0;
  height: 37.5vw;
  width: 34.375vw;
}

.New-Explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35.9375vw;
  width: 100%;
  position: relative;
  margin-top: 13.75vw;
}

.New-Explore img {
  height: 31.25vw;
}

.New-Explore .circle {
  position: relative;
  top: 17.5vw;
  left: 19.375vw;
}

.New-Explore .Interest {
  left: 40.625vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
  position: absolute;
}

.destinations {
  display: block;
  margin-bottom: 6.25vw;
}

.destinations .View-all {
  position: relative;
}

.destinations .View-all .circle {
  bottom: 5vw;
  right: 15%;
  position: absolute;
}

.destinations .row {
  margin: 0 !important;
}

.destinations .row .dest-cross {
  margin: 0;
  width: 3.125vw;
  height: 3.125vw;
}

.destinations .row .col-4 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 20.75vw;
  width: 16.3125vw;
}

.destinations .row .col-4:hover {
  -webkit-transform: translateY(-1.875vw);
          transform: translateY(-1.875vw);
}

.destinations .row .col-4 .destinations-item {
  height: 20.75vw;
  width: 17.5625vw;
}

.destinations .row .col-4 .destinations-item img {
  border-radius: 0.375vw 0.375vw 0.375vw 0.375vw;
  margin: 0 1.25vw;
  height: 20.75vw;
  width: 16.3125vw;
}

.destinations .row .col-4 .destinations-item p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 37.5vw;
  font-size: 1.0625vw;
  line-height: 1.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #042521;
  mix-blend-mode: normal;
  background: #ffffff;
  max-width: 8.75vw;
  padding: 0.75vw;
  border-radius: 0.375vw 0.375vw 0.375vw 0.375vw;
  bottom: 5.625vw;
  left: 1.0625vw;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.destinations .row .col-4 .destinations-item p span {
  color: #848484;
}

.destinations .slick-list {
  height: 28.125vw;
  padding: 3.125vw 0;
}

.Thousand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Thousand .Interest {
  display: block;
  margin: 12.5vw 0;
}

.Thousand .Thousand__image {
  height: 33.875vw;
  width: 37.4375vw;
}

.Comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6.25vw;
}

.Comment .circle {
  margin-top: 15.5625vw;
  position: absolute;
  left: 3.125vw;
}

.Comment .Comment__text {
  display: block;
}

.Comment .Comment__text h2 {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 2.25vw;
  line-height: 3.125vw;
  color: black;
  mix-blend-mode: normal;
}

.Comment .Comment__text p {
  font-family: 'Mulish';
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 2.25vw;
  color: black;
  mix-blend-mode: normal;
  max-width: 28.125vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Comment .Comment__text span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 56.25vw;
  font-size: 1.375vw;
  line-height: 3vw;
  color: black;
  mix-blend-mode: normal;
  position: relative;
}

.Comment .Comment__text span:before {
  content: 'Founder Circle';
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 3vw;
  color: #a7a7a7;
  mix-blend-mode: normal;
  position: absolute;
  left: 0;
  bottom: -2.5vw;
}

.Comment .Comment__text .Comment__text-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4.75vw;
}

.Comment .Comment__text .Comment__text-star img {
  margin-right: 1.875vw;
  cursor: pointer;
}

.Comment__slider {
  left: 12.5vw;
  position: relative;
  width: 26.5625vw;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.625vw;
}

.Comment__slider-item {
  position: relative;
  padding: 3.125vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30.6875vw;
  width: 24vw;
}

.Comment__slider-item img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  z-index: -1;
  border-radius: 0.625vw;
  height: 30.6875vw;
  width: 24vw;
}

.Comment__slider-item span {
  border: 0.25vw solid #57D2A3;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;
  position: absolute;
  top: -0.625vw;
  right: -0.625vw;
  z-index: 200;
}

.slick-list {
  border-radius: 0.625vw;
  height: 140%;
  width: 100%;
}

.prev, .next {
  position: absolute;
  padding: 0.8125vw;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.4375vw 0.125vw 0.125vw 0.125vw;
  min-height: 6.83594vh;
  bottom: 1.25vw;
}

.prev svg, .next svg {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.prev svg:hover, .next svg:hover {
  background-color: #7aa1f3 !important;
  border-radius: 20px;
  cursor: pointer;
}

.prev svg:active, .next svg:active {
  background-color: #075091 !important;
}

.prev svg path, .prev svg circle, .next svg path, .next svg circle {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.prev svg:first-child:active path, .next svg:first-child:active path {
  -webkit-transform: translateX(-0.5vw);
          transform: translateX(-0.5vw);
}

.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
  z-index: 2;
}

.prev {
  right: 3.75vw;
  z-index: 1;
}

.Stories__row {
  display: block;
  position: relative;
}

.Stories__row .circle {
  position: absolute;
  left: 60%;
  bottom: -20%;
}

.Stories {
  margin-top: 12.5vw;
  padding-top: 0vw;
}

.Stories .View-all img {
  position: absolute;
  margin: -2.125vw 18.75vw;
  margin-bottom: 1.25vw;
}

.Stories .row {
  left: 0;
}

.Stories .row .col-4 {
  margin-right: 4.6875vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Stories .row .col-4:hover {
  -webkit-transform: translateY(-6.25vw);
          transform: translateY(-6.25vw);
}

.Stories .row .col-4 .Stories-item {
  width: 16.625vw !important;
}

.Stories .row .col-4 .Stories-item .Stories__description {
  display: block;
}

.Stories .row .col-4 .Stories-item .Stories__description h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5625vw;
  line-height: 1.875vw;
  color: black;
  mix-blend-mode: normal;
  cursor: text;
}

.Stories .row .col-4 .Stories-item .Stories__description .Stories__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 1.75vw;
  color: #FB8F1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.Stories .row .col-4 .Stories-item img {
  border-radius: 0.5vw 0.5vw 0 0;
  width: 17.5vw;
  height: 20vw;
}

.Stories .row .col-4:hover .slick-list {
  height: 36.25vw;
  padding: 9.375vw 0;
}

.Stories .slick-list {
  height: 22.8125vw;
  padding: 6.25vw 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  margin: 0;
  background: #fcfbfb;
}

.container {
  max-width: 75.625vw;
  margin: 0 auto;
}

.col-4 {
  width: 25%;
}

.View-all {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.View-all .View__title {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 2.25vw;
  line-height: 3.125vw;
  color: black;
  mix-blend-mode: normal;
}

.View-all .View__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 37.5vw;
  font-size: 1.0625vw;
  line-height: 3.75vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FB8F1D;
  mix-blend-mode: normal;
  cursor: pointer;
  margin-left: 60%;
}

.View-all .View__link svg {
  margin-left: 0.8125vw;
}

.View__link {
  position: absolute !important;
  bottom: 105% !important;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 37.5vw;
  font-size: 1.0625vw;
  line-height: 3.75vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FB8F1D;
  mix-blend-mode: normal;
  cursor: pointer;
  margin-left: 90% !important;
}

.View__link svg {
  margin-left: 0.8125vw;
}

.circle {
  border: 0.5vw solid #57D2A3;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 50%;
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375vw;
  line-height: 1.625vw;
  color: #7D7987;
  mix-blend-mode: normal;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.orange-btn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 37.5vw;
  font-size: 1.25vw;
  line-height: 1.5625vw;
  background: #FB8F1D;
  border-radius: 0.5vw;
  border: 0;
  color: #ffffff;
  width: 9.375vw;
  height: 2.5vw;
}

.orange-btn:hover {
  background: #fca84f;
}

.Interest {
  max-width: 25vw;
}

.Interest h2 {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 2.25vw;
  line-height: 3.125vw;
  color: black;
  mix-blend-mode: normal;
}

.Interest p {
  font-family: 'Mulish';
  font-weight: 18.75vw;
  font-size: 1.0625vw;
  line-height: 1.875vw;
  color: #7D7987;
  max-width: 23.125vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=index.css.map */