@import './helpers/mixins';
@import'./helpers/functions';
@import'./helpers/variables';
@import './helpers/fonts';

@import './components/header';
@import './components/footer';

@import './sections/hero';
@import './sections/New-Explore';
@import './sections/destians';
@import './sections/Thousand';
@import './sections/Comment';
@import './sections/stories';



.row{
    display: flex;
}
body{
    margin: 0;
    background: $bg-body;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}

.col-4{
    max-width: 25%;
}
.View__title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    mix-blend-mode: normal;
}
.View {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color:$text-orange;
    mix-blend-mode: normal;
    cursor: pointer;
    svg{
      margin: 13px;  
    }
}
.text{
    @include font(vw(15),normal,vw(26));
    color: #7D7987;
    mix-blend-mode: normal;
    max-width: vw(100);
    position: relative;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}