.destinations{
    display: block;
    margin-bottom: vw(100);
    .View-all{
        position: relative;
        .circle{
            bottom: vw(80);
            right: 15%;
            position: absolute;
        }
    }
    .row{
        margin: 0 !important;
        .dest-cross{
            margin: 0;
            width: vw(50);
            height: vw(50);
        }
        .col-4{
            transition: 0.5s;
            height: vw(332);
            width: vw(261);
            &:hover{
                // box-shadow:vw(10)vw(15)vw(10) $bs-black;
                transform: translateY(vw(-30));
            }
            .destinations-item{
                height: vw(332);
                width: vw(281);
                img{
                    border-radius: vw(6) vw(6) vw(6) vw(6) ;
                    margin: 0 vw(20);
                    height: vw(332);
                    width: vw(261);
                }
                p{
                    @include fontInter(vw(17),vw(600),vw(25));
                    display: flex;
                    align-items: center;
                    color: $text-green04;
                    mix-blend-mode: normal;
                    background: $bg-white;
                    max-width: vw(140);
                    padding: vw(12);
                    border-radius: vw(6) vw(6) vw(6) vw(6);
                    bottom: vw(90);
                    left: vw(17);
                    position: relative;
                    flex-wrap: wrap;
                    span{
                        color: $text-gray;
                    }
                }
        }
    }
  }
  .slick-list{
      height: vw(450);
      padding: vw(50) 0;
  }
}


.destinations{
    @include mobile(){
        display: block;
        margin-bottom: vmin(20);
        .View-all{
            position: relative;
            .circle{
                bottom: vmin(80);
                right: 15%;
                position: absolute;
            }
        }
        .row{
            margin: 0 !important;
            .dest-cross{
                margin: 0;
                width: vmin(50);
                height: vmin(50);
            }
            .col-4{
                transition: 0.5s;
                height: vmin(300);
                width: vmin(261);
                &:hover{
                    transform: translateY(vmin(-30));
                }
                .destinations-item{
                    height: vmin(332);
                    width: vmin(281);
                    img{
                        border-radius: vmin(6);
                        margin: 0 vmin(20);
                        height: vmin(332);
                        width: vmin(261);
                    }
                    p{
                        @include fontInter(vmin(17),vmin(600),vmin(25));
                        display: flex;
                        align-items: center;
                        color: $text-green04;
                        mix-blend-mode: normal;
                        background: $bg-white;
                        max-width: vmin(140);
                        padding: vmin(12);
                        border-radius: vmin(6);
                        bottom: vmin(90);
                        left: vmin(17);
                        position: relative;
                        flex-wrap: wrap;
                        span{
                            color: $text-gray;
                        }
                    }
            }
        }
      }
      .slick-list{
          height: vw(1500);
          padding: vw(500) 0;
      }
    };
}