.New-Explore{
    display: flex;
    height: vw(575);
    width: 100%;
    position: relative;
    margin-top: vw(220);
    img{
        height: vw(500);        
    }
    .circle{
        position: relative;
        top: vw(280);
        left: vw(310);
    }
    .Interest{
    left: vw(650);
    align-items: flex-end;
    flex-wrap: wrap;
    display: block;
    position: absolute;
    }
}