.Stories__row{
    display: block;
    position: relative;
    .circle{
        position: absolute;
        left: 60%;
        bottom: -20%;
    }
}
.Stories{
    margin-top: vw(200);
    padding-top: vw(0);
    .View-all{
        img{
            position: absolute;
            margin:vw(-34) vw(300);
            margin-bottom: vw(20);
        }
    }
    .row{
        left: 0;
        .col-4{
            margin-right: vw(75);
            transition: 0.5s;
            &:hover{
                // box-shadow:vw(10)vw(15)vw(10) $bs-black;
                transform: translateY(vw(-100));
            }
            .Stories-item{
                width: vw(266) !important;
                .Stories__description{
                        display: block;
                        h3{
                            @include fontInter(vw(25),bold,vw(30));
                            color: $text-black;
                            mix-blend-mode: normal;
                            cursor: text
                        }
                        .Stories__link{
                            @include fontInter(vw(20),600,vw(28));
                            color:$text-orange;
                            display: flex;
                            cursor: pointer;
                        }
                    }
                img{
                    border-radius: vw(8) vw(8) 0 0;
                    width: vw(280);
                    height: vw(320);
                } 
            }
        }
        .col-4{
          &:hover .slick-list{
            height: vw(580);
            padding: vw(150) 0;
          }
        }
    }
    .slick-list{
      height: vw(365);
      padding: vw(100) 0;
  }
}

@media screen and (max-width:1100px){
    .Stories__row{
        display: block;
        position: relative;
        .circle{
            position: absolute;
            left: 60%;
            bottom: -20%;
        }
    }
    .Stories{
        margin-top: vmin(200);
        padding-top: vmin(0);
        .View-all{
            img{
                position: absolute;
                margin:vmin(-34) vmin(300);
                margin-bottom: vmin(20);
            }
        }
        .row{
            left: 0;
            .col-4{
                transition: 0.5s;
                &:hover{
                    transform: translateY(vmin(-100));
                }
                .Stories-item{
                    width: vmin(266) !important;
                    .Stories__description{
                            display: block;
                            h3{
                                @include fontInter(vmin(25),bold,vmin(30));
                                color: $text-black;
                                mix-blend-mode: normal;
                                cursor: text
                            }
                            .Stories__link{
                                @include fontInter(vmin(20),600,vmin(28));
                                color:$text-orange;
                                display: flex;
                                cursor: pointer;
                            }
                        }
                    img{
                        border-radius: vmin(8) vmin(8) 0 0;
                        width: vmin(280);
                        height: vmin(320);
                    } 
                }
            }
            .col-4{
              &:hover .slick-list{
                height: vmin(580);
                padding: vmin(150) 0;
              }
            }
        }
        .slick-list{
          height: vmin(365);
          padding: vmin(100) 0;
      }
    }
}