.footer{
    background-color: $bg-gray;
    width: 100%;
    height: vw(410);
    margin-top: vw(200);
    position: relative;
    &__bottom{
        position: relative;
        &-icons{
            position: absolute;
            left: 50%;
            margin-top: 2%;
            transform: translateX(-50%); 
            a:last-child:hover svg path{ 
                    fill: red;
            }
            a:first-child:hover svg  path{ 
                        fill: rgb(43, 189, 247);
            }
            a:nth-child(2):hover svg path{ 
                    fill: rgb(47, 0, 255);
            }
            a:nth-child(3):hover svg path{ 
                fill: rgb(255, 82, 148);
                background-color: rgb(2, 34, 177);
            }
            a:nth-child(4):hover svg  path{ 
                fill: rgb(252, 238, 51);
             }
             a{
                svg{
                    padding-left: vw(35);
                path{
                    transition: 0.5s;
                }
                }
            }
        } 
    }
    &__row{
    padding: vw(78) 0;
    display: block;
    &:last-child{
        padding: vw(33) 0;  
      }
    }
    &__top{
       display: flex;
       .footer__description{
        display: block;
        &-text{
            position: relative;
            right: vw(80);
        }
      }
      .footer__features{  
        margin-left: vw(25);
        display: flex;
        .footer__list{
            list-style-type: none;
            margin-left: vw(100);
            &-item:first-child span:first-child{   
                padding-top: vw(56);
                color: $text-black;
                @include fontMulish(vw(19),bold,vw(60));
                font-style: normal;
            }
            &-item span{
             color: $text-gray;
             @include fontMulish(vw(18),300,vw(30));
            }
        }
      }
    }
}


.footer{
    @include mobile(){
        background-color: $bg-gray;
        width: 100%;
        height: vmin(410);
        margin-top: vmin(200);
        position: relative;
        &__bottom{
            position: relative;
            &-icons{
                width: 90%;
                position: absolute;
                left: 50%;
                margin-top: 2%;
                transform: translateX(-50%); 
                flex-wrap: nowrap;
                a:last-child:hover svg path{ 
                        fill: red;
                }
                a:first-child:hover svg  path{ 
                            fill: rgb(43, 189, 247);
                }
                a:nth-child(2):hover svg path{ 
                        fill: rgb(47, 0, 255);
                }
                a:nth-child(3):hover svg path{ 
                    fill: rgb(255, 82, 148);
                    background-color: rgb(2, 34, 177);
                }
                a:nth-child(4):hover svg  path{ 
                    fill: rgb(252, 238, 51);
                 }
                 a{
                    svg{
                        padding-left: vmin(35);
                    path{
                        transition: 0.5s;
                    }
                    }
                }
            } 
        }
        &__row{
        padding: vmin(78) 0;
        display: block;
        &:last-child{
            padding: vmin(33) 0;  
          }
          hr{
            max-width: 100%;
          }
        }
        &__top{
           display: flex;
           flex-direction: column;
           .footer__description{
            padding: vmin(50)vmin(29);
            display: block;
            &-text{
                position: relative;
                right: vmin(98);
            }
          }
          .footer__features{  
            margin-left: vmin(0);
            display: flex;
            flex-wrap: wrap;
            .footer__list{
                width: 25%;
                list-style-type: none;
                margin-left: vmin(100);
                &-item:first-child span:first-child{   
                    padding-top: vmin(56);
                    color: $text-black;
                    @include fontMulish(vmin(19),bold,vmin(60));
                    font-style: normal;
                }
                &-item span{
                 color: $text-gray;
                 @include fontMulish(vmin(18),300,vmin(30));
                }
            }
          }
        }
    };
}