.footer{
    background-color: $bg-gray;
    width: 100%;
    height: vw(410);
    margin-top: vw(200);
    position: relative;
    &__bottom{
        position: relative;
        &-icons{
            position: absolute;
            left: 50%;
            margin-top: 2%;
            transform: translateX(-50%);  
        svg:last-child:hover path{ 
                fill: red;
        }
        svg:first-child:hover path{ 
                    fill: rgb(43, 189, 247);
            }
        svg:nth-child(2):hover path{ 
                fill: rgb(47, 0, 255);
        }
        svg:nth-child(3):hover path{ 
            fill: rgb(255, 82, 148);
            background-color: rgb(2, 34, 177);
        }
        svg:nth-child(4):hover path{ 
            fill: rgb(252, 238, 51);
         }
        }
        svg{
            padding-left: vw(35);
            path{
                transition: 0.5s;
            }
        }
    }
    &__row{
    padding: vw(78) 0;
    display: block;
    &:last-child{
        padding: vw(33) 0;  
      }
    }
    &__top{
       display: flex;
       .footer__description{
        display: block;
        &-text{
            // margin-right: vw(108);
            // justify-content: right;
            // display: inline-block;
            // align-items: stretch;
            position: relative;
            right: vw(80);
        }
      }
      .footer__features{  
        margin-left: vw(25);
        display: flex;
        .footer__list{
            list-style-type: none;
            margin-left: vw(100);
            &-item:first-child span:first-child{   
                padding-top: vw(56);
                color: $text-black;
                @include fontMulish(vw(19),bold,vw(60));
                font-style: normal;
            }
            &-item span{
             color: $text-gray;
             @include fontMulish(vw(18),300,vw(30));
            }
        }
      }
    }
}