.header {
	position: absolute;
	left: 0;
	margin-top: vw(45);
	width: 100%;
	.header__row{
		top: vw(45);
		display: flex;
		.nav{
			margin-left: vw(400);
			&__list{
				list-style-type: none;
				display: flex;
				&-item{
					@include fontInter(vw(20),normal,vw(19));
					color: #B8BECD;
					margin-right: vw(34);
					z-index: 2;
					transition: 0.5s;
					cursor: pointer;
					&:hover{
						color: #6b88cf;
					}
				}
				&-item:first-child{
					margin-right: vw(34);
					@include fontInter(vw(20),normal,vw(19));
					color: $text-black;
					transition: 0.6s;
					z-index: 2;
					&:hover{
						color: rgb(119, 118, 118);
					}
				}
			}
		}
		.header__reg-log{
			display: flex;
			button:first-child{
				border: vw(3) solid #FB8F1D;
				box-sizing: border-box;
				border-radius: vw(8);
				@include fontInter(vw(20),vw(500),vw(25));
				color:$text-orange;
				width: vw(132);
				height: vw(44);
				background: $bg-white80;
				margin-right: vw(15);
				cursor: pointer;
				z-index: 2;
				&:hover{
					background: lighten($bg-white80 , 10%);
				}
			}
			button:last-child{
				border: none;
				box-sizing: border-box;
				border-radius: vw(8);
				@include fontInter(vw(20),vw(500),vw(25));
				color: $text-white;
				width: vw(132);
				height: vw(44);
				z-index: 2;
				background:$bg-orange;
				&:hover{
					background: lighten($bg-orange , 10%);
				}
			}
		}
	}
}