@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url("../../fonts/Inter/Inter-Bold.woff")format("woff");
}
@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url("../../fonts/Inter/Inter-Medium.woff")format("woff");
}
@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url("../../fonts/Inter/Inter-Regular.woff")format("woff");
}
@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url("../../fonts/Inter/Inter-Semibold.woff")format("woff");
}


@font-face {
    font-family: 'Mulish';
    font-weight: 700;
    src: url("../fonts/Mulish/Mulish-Bold.woff")format("woff");
}
@font-face {
    font-family: 'Mulish';
    font-weight: 600;
    src: url("../fonts/Mulish/Mulish-Medium.woff")format("woff");
}
@font-face {
    font-family: 'Mulish';
    font-weight: 500;
    src: url("../fonts/Mulish/Mulish-Regular.woff")format("woff");
}
@font-face {
    font-family: 'Mulish';
    font-weight: 400;
    src: url("../fonts/Mulish/Mulish-SemiBold.woff")format("woff");
}


@font-face {
    font-family: 'Playfair Display';
    font-weight: 700;
    src: url("../fonts/Playfair\ Display/PlayfairDisplay-Bold.woff")format("woff");
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 600;
    src: url("../fonts/Playfair\ Display/PlayfairDisplay-Medium.woff")format("woff");
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 500;
    src: url("../fonts/Playfair\ Display/PlayfairDisplay-Regular.woff")format("woff");
}
@font-face {
    font-family: 'Playfair Display';
    font-weight: 400;
    src: url("../fonts/Playfair\ Display/PlayfairDisplay-SemiBold.woff")format("woff");
}