@mixin  fontInter($size,$weight,$ln-height:vw(25)) {
    font-family: 'Inter';
	font-style: normal;
	font-weight: $weight;
    font-size: $size;
	line-height: $ln-height;
}
@mixin fontMulish($size,$weight,$ln-height) {
    font-family: 'Mulish';
	font-weight: $weight;
    font-size: $size;
    line-height: $ln-height;
}
@mixin fontPlayfairDisplay($size,$weight,$ln-height) {
    font-family: 'Playfair Display';
    font-weight: $weight;
    font-size: $size;
    line-height: $ln-height;
}
@mixin flex($justify:center){
    align-items: center;
    justify-content: $justify;
    display: flex;
}