$bg-white: #ffffff;
$bg-pink:#E62E7B;
$bg-orange:#FB8F1D;
$bg-gray:#F9F9FB;
$bg-white80:#fff8f0;

$bs-black:rgba(0,0,0,0.3);



$bg-body:#fcfbfb;



$text-green04:#042521;
$text-gray-blue79:#7D7987;
$text-gray:#848484;
$text-dark-blue:rgb(44, 49, 80);
$text-white:#ffffff;
$text-pink:#E62E7B;
$text-light-pink:#f5e4ed;
$text-gray-blue:#4d5e80;
$text-black:black;
$text-orange:#FB8F1D;